* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    padding: 0 20%;
    align-items: center;

}
/* HEADER START */
.one {
    background-color: #1f2937;
}
.three {
    background-color: #e5e7eb;
    flex-basis: 200px;
}
header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.header-logo a {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.header-link a {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 15px;
}
/* HEADER END */
/* HERO START */
.hero {
    display: flex;
    background-color: #1f2937;
    align-items: flex-start;
    padding: 20px 0;
    justify-content: space-between;
    height: 270px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-basis: 426px;
    align-items: flex-start;
    align-self:stretch;
    justify-content: flex-start;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 14px 0;
}

.btn-sign-up {
    color: white;
    background-color: #3882f6;
    font-weight: 800;
    font-size: large;
    padding: 5px 28px;
    border-radius: 8px;
    border-style:none;
    
}

.hero img{
    height: 100%;
    flex: 0 1 auto;
}

/* HERO END */